<div>
    <form>
        <select name="selection">
            <option></option>
        </select>

        <br>
        <input type="text" name="formPlanetName">

        <br>
        <input type="text" name="formPlanetColor">

        <br>
        <input type="text" name="formPlanetRadius">

        <br>
        <input type="text" name="formPlanetSat">

        <br>

        <button>Add Pluto</button>
    </form>
    <div>
        <h2></h2>

        <!-- List View -->
        <div>
            <ul>
                <li>

                </li>
            </ul>
        </div>

        <!-- Table View -->
        <div>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Radius</th>
                    <th>Satellites</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <!-- System View -->
        <div>
            <div class="planet">
                <div></div>
                <span></span>
            </div>
        </div>

    </div>
</div>
