<div>
    <form>
        <select [(ngModel)]="selection" (change)="selected()" name="selection">
            <!-- for view in views { -->
            <option *ngFor="let view of views" [ngValue]="view"> {{view}} </option>
            <!-- } -->
        </select>

        <br>
        <input type="text" [(ngModel)]="formPlanetName" name="formPlanetName" placeholder="Planet Name">
        {{formPlanetName}}

        <br>
        <input type="text" name="formPlanetColor" placeholder="Color">

        <br>
        <input type="text" name="formPlanetRadius" placeholder="Radius">

        <br>
        <input type="text" name="formPlanetSat" placeholder="Satellites">

        <br>

        <button (click)="addMyPlanet()">Add Pluto</button>
    </form>
    <!-- switch (selection) { -->
    <div [ngSwitch]="selection">
        <h2>Total Planets: {{ getTotalPlanets() }}</h2>

        <!-- List View -->
        <!-- case "list":  -->
        <div *ngSwitchCase="'list'">
            <ul>
                <li *ngFor="let p of data">
                    {{p.name}} has a radius of {{p.radius}}km and {{p.satellites}} satellites
                </li>
            </ul>
        </div>

        <!-- Table View -->
        <div *ngSwitchCase="'table'">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Radius</th>
                    <th>Satellites</th>
                </tr>
                <tr *ngFor="let p of data">
                    <td>{{p.name}}</td>
                    <td>{{p.color}}</td>
                    <td>{{p.radius}}</td>
                    <td>{{p.satellites}}</td>
                </tr>
            </table>
        </div>

        <!-- System View -->
        <div *ngSwitchCase="'system'">
            <div class="planet">
                <div></div>
                <span></span>
            </div>
        </div>

    </div>
</div>
